<nav class="bg-violet-950 text-white p-4 shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-2xl font-bold">Mon Site</div>
        <div class="flex gap-6">
            <a href="/" class="hover:text-gray-300 transition duration-300">Accueil</a>
            <a href="offres" class="hover:text-gray-300 transition duration-300">Offres</a>
            <a href="Contactform" class="hover:text-gray-300 transition duration-300">Contact</a>
            <a href="Agenda" class="hover:text-gray-300 transition duration-300">Agenda</a>
        </div>
    </div>
</nav>
